/*============================================================================*/
/* Layout and Base Colors CSS */
/*============================================================================*/

html, body {
		margin: 0;
		padding: 0;
}

body {
	height: 100%;
	overflow:auto;
}

.container {
	min-height: 100%;
	margin: 0 auto -52px;
}

header {
	padding: 0 $SiteMargin 0 $SiteMargin;
	position: relative;
	top:0px;
	z-index: 50;
	width: 100%;

	#header-container {
		max-width: $HeaderMaxWidth;
		margin: 0 auto;
	}

	#logoblock {
		display: inline-block;
		margin-left: $ContentMargin;
		height: 100px;
		width: 260px;

		#logo {
			margin-top: 25px;
		}
	}

	nav {
		float: right;
		margin-right: $ContentMargin;

		a {
			display: inline-block;
			padding: 50px 20px 20px 20px;
			margin-right: 5px;
			margin-top: -15px;
		}
	}
}



/* Page Middle */
.pocket {
	width: 100%;
	background-color: red;
	padding-bottom: 180px; 

	.paper {
		margin-bottom: 130px;
		position: relative;
		margin: 0 auto;
		top: 45px; /* Moves Container up */
		bottom: 0px;
		z-index: 1;
		max-width: $ContentMaxWidth;
		height: 100%;

		main {
			padding: 0 $ArticleMargin 0 $ArticleMargin;
			bottom:0; 
			z-index:10;
		}

		article {
			padding: 0 5px 0 5px;

			img {
				display: block;
				margin: 0 auto;
				padding: 10px;
			}
		}
	}
}

.container:after {
	content: " ";
	display: block;
	clear: both;
}

footer, .container {
		height: 52px;
}

footer {

	bottom: 0;
	left: 0;
	width: 100%;
	position: absolute;
	z-index:75;
	padding: 10px $SiteMargin 10px $SiteMargin;
	margin-top: 50px;

	a { 
		display: inline-block;
		margin-right: 5px;
	}
}









	#header-container {
		max-width: $HeaderMaxWidth;
		margin: 0 auto;
	}

	#logoblock {
		display: inline-block;
		margin-left: $ContentMargin;
		height: 100px;
		width: 260px;

		#logo {
			margin-top: 25px;
		}
	}

	nav {
		float: right;
		margin-right: $ContentMargin;

		a {
			display: inline-block;
			padding: 50px 20px 20px 20px;
			margin-right: 5px;
			margin-top: -15px;
		}
	}











	.paper {
		margin-bottom: 130px;
		position: relative;
		margin: 0 auto;
		top: 45px; /* Moves Container up */
		bottom: 0px;
		z-index: 1;
		max-width: $ContentMaxWidth;

		main {
			padding: 0 $ArticleMargin 0 $ArticleMargin;
			bottom:0; 
			z-index:10;
		}

		article {
			padding: 0 5px 0 5px;

			img {
				display: block;
				margin: 0 auto;
				padding: 10px;
			}
		}
	}

	a { 
		display: inline-block;
		margin-right: 5px;
	}







	















































