/*============================================================================*/
/* Reset CSS */
/* Should give basic compatability across browser...should. */
/*============================================================================*/

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
   text-rendering: optimzeLegibility;
}

main {
  position:relative; 
  bottom:0; 
  z-index:10;
}

.center {
  text-align: center;
}

.right {
  float: right;
}

.left {
  float: left;
}
