---
---
@import 'colors'; /* The color palette */
@import 'theme'; /* Modify this to modify color scheme and design */


/*============================================================================*/
/* Base CSS */
/*============================================================================*/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	background-attachment: fixed;
	background-color: $tColorBodyBG;
	color: $tColorSiteText;
	font: normal normal $FontMainWeight $FontMainSize/$FontMainLineHeight $FontMain;
	border-top: 5px solid $tColorHeadBorder; /* Creates top border */
	background-image: url($tBackgroundImage), linear-gradient(to bottom, $tColorGradientBGStart 0, $tColorGradientBGStop 200px);
	line-height: 25.5px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
}

header {
	background-color: $tColorHeadBG;
}

.center {
	text-align: center;
}

.right {
	float: right;
}

.left {
	float: left;
}

img {
	max-width: 100%;
	height: auto;
	border: none;
	outline: none;
}

article q.right {
	float: right;
	margin-right: 0;
}

#logoblock {
	background-color: $tColorLogoBG;
}

.paper {
	background-color: $tColorContentBG;
	-webkit-box-shadow: 0px 2px 16px 5px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 2px 16px 5px rgba(0,0,0,0.15);
	box-shadow: 0px 2px 16px 5px rgba(0,0,0,0.15);
	border: 20px solid rgba(0,0,0,.05);
	padding-bottom: 90px; /* Whitespace */
}

footer {
	-webkit-box-shadow: -1px 1px 32px 7px rgba(0,0,0,0.2);
	-moz-box-shadow: -1px 1px 32px 7px rgba(0,0,0,0.2);
	box-shadow: -1px 1px 32px 7px rgba(0,0,0,0.2);
	background-color: $tColorFooterBG;
	border-top: 5px solid $tColorFooterBorder;
	text-align: center;
	color: $tColorFooterText;

	a { 
		color: $tColorFooterA;
		font-weight: 800;

		&:hover {
			color: $tColorFooterHover;
			border-bottom: none;
			font-weight: $MenuLinkHoverWeight;
		}

		&.current-page {
			color: $tColorFooterCurrent;
			border-bottom: none;
			background: $MenuLinkCurrentBG;
		}
	}
}

nav {
	a { 
		
		color: $tColorMenuA;
		text-transform: uppercase;
		border-radius: 0 0 5px 5px;
		border-bottom: 2px groove $tColorMenuNonBorder;
		font: $MenuFont;
		text-shadow: 0 0 20px $tColorLogoGlow;

		&.current-page {
			color: $tColorMenuCurrent;
			border-bottom: none;
			background: $MenuLinkCurrentBG;
			text-shadow: none;
		}

		&:hover {
			color: $tColorMenuHover;
			border-bottom: none;
			border-bottom: 1px solid $MenuLinkBorder;
			font-weight: $MenuLinkHoverWeight;
			background: $MenuLinkHoverBG;
			transform: translateY(5px);
			text-shadow: none;
		}
	}
}


@import 'elements'; /* Styling of presentation elements */
@import 'layout'; /* Position of elements by default */
@import 'responsive'; /* Position and design of elements in Responsive */




