<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

<title>{{ page.title }} &middot; {{ site.title }}</title>
<meta name="description" {% if page.title == "Home" %}content="{{ site.description }}"{% else %}content="{{ page.description }}"{% endif %}>
<meta name="author" content="{{ site.author.name }}">

<link rel="stylesheet" href="{{site.baseurl}}public/css/main.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400,600,700&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz01234567890' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:100,300,400,700,800,900&text=ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz01234567890' rel='stylesheet' type='text/css'>


<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" type="image/png" href="{{site.baseurl}}public/images/favicon.png" />

<link rel="alternate" href="{{ site.baseurl }}feed.xml" type="application/rss+xml" title="{{ site.name }}">