---
layout: page
title: Blog
section: Blog
---

<section class="archive">
{% for post in site.posts limit:3 %}
	<h2 class="subsection"><a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}</a></h2>
	<p>{{ post.content | strip_html | truncatewords: 50 }} <a href="{{post.url}}" title="{{ post.title }}">[Read More]</a></p>
{% endfor %}
</section>

<section class="archive">
<h3>Older Posts</h3>
<ul>
{% for post in site.posts  offset:3 %}

	<li>
		<a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}
		<span class="entry-date" style="float:right;"><time datetime="{{post.date}}" itemprop="datePublished">{{ post.date | date: "%B %-d, %Y"}}</time></span>
		</a>
	</li>
{% endfor %}
</ul>
</section>
