---
layout: page
title: Blog
section: Blog
---

<section class="archive">
{% for post in site.posts limit:1 %}
	<h2><a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}</a></h2>
	<p>{{ post.content | strip_html | truncatewords: 50 }}</p>
{% endfor %}
</section>

<section class="archive">
<ul>
{% for post in site.posts  offset:1 %}


	<li>
		<a href="{{post.url}}" title="{{ post.title }}">{{ post.title }}
		<span class="entry-date" style="float:right;"><time datetime="2011-03-10T00:00:00+00:00" itemprop="datePublished">March 10, 2011</time></span>
		</a>
	</li>
{% endfor %}
</ul>
</section>
